<<<<<<< HEAD
#countries-list {
    list-style: none;
}

#select-indicator{
    
=======
@import url('https://fonts.googleapis.com/css?family=Cuprum:400,700');
*{
    margin: 0;
    padding: 0;
    font-family: Arial ;
}
.title{
  /*position: absolute;*/
  color:#009FDA;
  text-align: center;
  background-color: #FFF;
  display: flex;
}
.title h1{
  box-sizing: border-box;
  font-family: 'Cuprum', sans-serif;
  font-size: 50px;
  padding-left: 200px;
  padding-top: 20px;
}
.title img{
  padding-left: 20px;
  padding-top: 20px;
}
.main{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  font-size: px;
  background-color: #009FDA;
}
.main ul{
  display: flex;
  list-style: none;
}
.main ul li a{
  display: block;
  padding: 27.5px 95px;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s ease;
}
.main ul li a:hover{
  background-color:#fff;
  color: #009FDA;
}
.main ul li.active a{
    background-color: #fff;
    color: #009FDA;
}
.map{
  width: auto;
  text-align: center;
}
.parrafo{
  width: 400px;
  float: left;
  margin-top: 200px;
  margin-left: 100px;
  font-size: 20px;
  color: #002244;
  padding: 30px 30px;
  border-style: outset;
  border-width: 20px;
  border-color: #009FDA;
}
#countries-list {
    list-style: none;
}
#select-indicator{
>>>>>>> 57c65e1b97e22c0db9eb0931d09414b639876611
    border-radius: 5px;
}
#lists{
    display: none;
<<<<<<< HEAD
=======
}
#first-page{
  display: none;
}
#population-option, #laboral-option, #unemployment-option, #education-option, #violence-option{
  cursor: pointer;
}
#population-option:hover, #laboral-option:hover, #unemployment-option:hover, #education-option:hover, #violence-option:hover{
  text-decoration-line: underline;
}
#population-indicators, #laboral-indicators, #unemployment-indicators, #education-indicators, #violence-indicators {
  display: none;
}
#indicators-icons{
  display: flex;
  justify-content: space-around;
>>>>>>> 57c65e1b97e22c0db9eb0931d09414b639876611
}