@import url('https://fonts.googleapis.com/css?family=Cuprum:400,700');
*{
    margin: 0;
    padding: 0;
    font-family: Arial ;
}
.title{
  /*position: absolute;*/
  color:#009FDA;
  text-align: center;
  background-color: #FFF;
  display: flex;
}
.title h1{
  box-sizing: border-box;
  font-family: 'Cuprum', sans-serif;
  font-size: 50px;
  padding-left: 200px;
  padding-top: 20px;
}
.title img{
  padding-left: 20px;
  padding-top: 20px;
}
nav.navbar {
  background-color: #009FDA;
}
nav.navbar ul.nav li a{
  font-size: 20px;
  color: #FFF;
}
.map{
  width: auto;
  text-align: center;
}
#countries-list {
    list-style: none;
}
#select-indicator{
    border-radius: 5px;
}
#lists{
    display: none;
}
#first-page{
  display: none;
}
#population-option, #laboral-option, #unemployment-option, #education-option, #violence-option{
  cursor: pointer;
}
#population-option:hover, #laboral-option:hover, #unemployment-option:hover, #education-option:hover, #violence-option:hover{
  text-decoration-line: underline;
}
#population-indicators, #laboral-indicators, #unemployment-indicators, #education-indicators, #violence-indicators {
  display: none;
}
#indicators-icons{
  display: flex;
  justify-content: space-around;
}