@import url('https://fonts.googleapis.com/css?family=Cuprum:400,700');
*{
    margin: 0;
    padding: 0;
    font-family: Arial ;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}
.title{
  color:#009FDA;
  padding: 1%;
}
.title h1{
  box-sizing: border-box;
  font-family: 'Cuprum', sans-serif;
  font-size: 60px;
  display: inline;
  padding-left: 10%; 
  text-align: center;
}
.title img{
  margin-top: -3%;
}
nav.navbar{
  background-color: #009FDA;
  
}
nav.navbar ul.nav li a{
  font-size: 20px;
  color: #FFF;
}
ul .dropdown-menu{
  background-color:  #009FDA;
}
ul .dropdown-menu li a:hover{
  color: #009FDA;
}
/* .carousel-inner {
  height: 50rem;
} */
.container{
  margin-bottom: 80px;
}
.indicators-header {
  margin-left: 3.5%;
};
#countries-list {
    list-style: none;
}
#select-indicator{
    border-radius: 5px;
}
#peru-page, #brazil-page, #chile-page, #mexico-page, #first-page, #sort-page, #women-page, #men-page{
  display: none;
}
.show-btn, .hide-btn {
  background-color: #F6F6F6;
  color: #0071BC;
  border: none;
  padding: 2px;
}
.population-option, .labor-option, .unemployment-option, .education-option, .violence-option{
  cursor: pointer;
  text-align: center;
}
.population-option:hover, .labor-option:hover, .unemployment-option:hover, .education-option:hover, .violence-option:hover{
  text-decoration-line: underline;
}
.population-indicators, .labor-indicators, .unemployment-indicators, .education-indicators, .violence-indicators, .listado, .hide-btn, #upward-page, #falling-page, #women-page, #men-page, .listado-data{
  display: none;
}
.population-indicators, .labor-indicators, .unemployment-indicators, .education-indicators, .violence-indicators, #women-indicators-pe, #women-indicators-br, #women-indicators-ch, #women-indicators-me, #men-indicators-pe, #men-indicators-br, #men-indicators-ch, #men-indicators-me {
  padding-top: 2%;
}
.indicators-icons{
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}
.ind-icon{
  height: 70px;
  width: 70px;
}
.flag-country, .icon-gen{
  height: 50px;
}
section{
  margin-bottom: 70px;
}
.indicators-filter{
  margin-bottom: 80px; 
}
footer{
  background-color: #009FDA;
  text-align: center;
  height: 50px;
  margin-top: 10px;
  padding-top: 17px;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}
footer a{
  color: white; 
}
#flag-peru, #flag-brazil, #flag-chile, #flag-mexico, #ind-women, #ind-men{
  background:#002244;
  color: #FFF; 
  padding-left: 5%;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  margin-top: -20px;
}
h3{
  display: inline;
  padding-left: 1%;
}
h4{
  padding-left: 2%;
}
.indicator-name {
  margin-left: 20%;
  box-sizing: border-box;
  padding-bottom: 1.5%;
  font-weight: 600;
  color: #333333;
}
.listado-data, .listado-data-visible {
  margin-left: 22%;
}
ul.data-list {
  list-style-type: none;
}
.indicators-filter, #women-indicators-pe, #women-indicators-br, #women-indicators-ch, #women-indicators-me, #men-indicators-pe, #men-indicators-br, #men-indicators-ch, #men-indicators-me{
  background: #F6F6F6;
  margin-top: 2%; 
}
#upward-order, #falling-order{
  background: #F6F6F6;
  padding-left: 2%;
}
.average-value{
  background: #e4fffd; 
  text-align: center; 
  box-sizing: border-box;
  margin-right: 72%;
  margin-top: 0.8%;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  font-size: 20px;
  border-style: solid;
  border-color: #009FDA;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}
/* Por debajo de 1024px */
@media screen and (max-width: 1024px){
  .title h1{
    font-size: 38px;
  }
  .title img{
    margin-top: -3%;
    height: 30px;
  }
  .indicator-name {
    margin-left: 3%;
  }
  .listado-data, .listado-data-viible {
    margin-left: 12%;
  }
}
/* Por debajo de 700px */
@media screen and (max-width: 700px){
  .title{
    text-align: center;
  }
  .title h1{
    display: none;
  }
  .title img{
    margin-top: 3%;
    height: 30px;
  }
  .average-value{
    margin-left: 12%;
    margin-right: 22%;
  }
  .indicator-name {
    margin-left: 3%;
  }
  .listado-data, .listado-data-viible {
    margin-left: 15%;
  }
}
  /* Por debajo de 400px */
@media screen and (max-width: 400px){
  .title{
    text-align: center;
  }
  .title h1{
    display: none;
  }
  .title img{
    height: 20px;
  }
  .average-value{
    margin-left: 5%;
    margin-right: 18%;
  }
  .indicators-icons .ind-icon{
    width: 50px;
    height: 50px;
  }
  .population-option, .labor-option, .unemployment-option, .education-option, .violence-option{
    font-size: 13px;
  }
  .indicator-name {
    margin-left: 3%;
  }
  .listado-data, .listado-data-viible {
    margin-left: 15%;
  }
}
